{% extends "admin-base.html" %}
{% block content %}
    <table class="table table-bordered">
        <tr>
            <td>id</td>
            <td>active</td>
            <td>username</td>
            <td>password</td>
            <td>first name</td>
            <td>last name</td>
        </tr>
        
        {% for row in kullanicilar %}
        <tr>
            <td>{{row["id"]}}</td>
            <td>{{row["is_active"]}}</td>
            <td>{{row["username"]}}</td>
            <td>{{row["password"]}}</td>
            <td>{{row["first_name"]}}</td>
            <td>{{row["last_name"]}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endblock %}