{% extends "admin-base.html" %}


{% block content %}
<table class="table table-condensed table-danger table-hover">
    <thead>
    <tr>
        <td>ID</td>
        <td>Nereden</td>
        <td>Nereye</td>
        <td>Tarih</td>
        <td>Uçak Kapasitesi</td>
        <td>Dolu Koltuk Sayısı</td>
        <td>Fiyatı</td>
        <td>Düzenle</td>
        <td>Sil</td>
    </tr>
</thead>
    
    {% for row in ucuslar %}
    {%if row["tarih"] < bugun %}
    <tr style="color: red;">
    {%else%}
    <tr>
    {%endif%}
        <td>{{row["id"]}}</td>
        <td>{{row["nereden"]}}</td>
        <td>{{row["nereye"]}}</td>
        <td>{{row["tarih"]}}</td>
        <td>{{row["kapasitesi"]}}</td>
        <td>{{row["dolukoltuk"]}}</td>
        <td>{{row["fiyat"]}}</td>
        <td> <a class="btn btn-warning" href="{{url_for('ucusduzenle',id=row['id'])}}">Düzenle</a> </td>
        <td> <a class="btn btn-danger" href="{{url_for('ucussil',id=row['id'])}}">Sil</a> </td>
    </tr>
    {% endfor %}
</table>
    
{% endblock %}

